.Burger {
    width: 100%;
    margin: auto;
    height: 350px;
    overflow-y: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.Burger::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Burger {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
