.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  
  .footer-text {
    line-height: 2vw;
    border: 3px solid white; 
    text-align: center;
    padding: 2vmin;
    color:tomato;
    padding: 2vmin;
    margin-top: 4vw;         
  }

  .fbanner{
    /* background-image:linear-gradient(to right, rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../public/assets/images/bg1.jpg'); */
    background-size:cover;
    min-height: 25vw;   
    margin: 35px auto;
    background-image: linear-gradient(to right, rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5));
  }
  